# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
cvp-sphere-api/venv/
venv/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
